$color_1: var(--clr-black);
$color_2: inherit;
$color_3: #7a5ff3;
$color_4: var(--clr-light);
$font-family_1: 'Sen', sans-serif;
$background-color_1: var(--clr-grey);
$background-color_2: var(--clr-light);
$background-color_3: #000000;
$background-color_4: #7a5ff3;