$color_1: #000000;
$color_2: inherit;
$color_3: #7a5ff3;
$color_4: var(--clr-light);
$font-family_1: 'Sen', sans-serif;
$background-color_1: #1f1e1e;
$background-color_2: #ffffff;
$background-color_3: #000000;
$background-color_4: #7a5ff3;

$mobile-width: 800px;